{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <h1>Register</h1>

      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn register-btn">Register</button>
      </form>

      <p class="register-text">
        Already have an account?
        <a href="{% url 'login' %}" class="link">Login</a>
      </p>
    </div>
  </body>
</html>
